In [1]:
!pip install plotly --upgrade
import numpy as np
np.set_printoptions(precision=4)                    # To display values only upto four decimal places. 

import pandas as pd
pd.set_option('mode.chained_assignment', None)      # To suppress pandas warnings.
pd.set_option('display.max_colwidth', -1)           # To display all the data in each column
pd.options.display.max_columns = 50                 # To display every column of the dataset in head()

import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')                  # To apply seaborn whitegrid style to the plots.
%matplotlib inline

import seaborn as sns
sns.set(style='whitegrid', font_scale=1.3, color_codes=True)      # To adjust seaborn settings for the plots.

import warnings
warnings.filterwarnings('ignore')                   # To suppress all the warnings in the notebook.
from pandas.plotting import parallel_coordinates

Requirement already up-to-date: plotly in c:\users\nasa\anaconda3\envs\pandas\lib\site-packages (4.2.1)
Requirement already satisfied, skipping upgrade: six in c:\users\nasa\anaconda3\envs\pandas\lib\site-packages (from plotly) (1.12.0)
Requirement already satisfied, skipping upgrade: retrying>=1.3.3 in c:\users\nasa\anaconda3\envs\pandas\lib\site-packages (from plotly) (1.3.3)

ModuleNotFoundError: No module named 'matplotlib'

In [2]:
com = pd.read_csv("E:\Insaid Project\Literacy Rate.csv")
com.head()

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
0,Country,INDIA,64.8,73.0,58.7,67.8,79.9,84.1
1,State,Andhra Pradesh,60.5,67.0,54.5,60.4,76.1,80.1
2,State,Arunachal Pradesh,54.3,65.4,47.8,59.9,78.3,82.9
3,State,Assam,63.3,72.2,59.7,69.3,85.3,88.5
4,State,Bihar,47.0,61.8,43.9,59.8,71.9,76.9

In [3]:
com.describe()

,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
count,36.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,69.433333,77.711111,64.669444,73.413889,82.161111,86.283333
std,10.647709,8.497723,11.459440,9.190497,5.463138,4.982856
min,47.000000,61.800000,43.900000,59.800000,69.800000,75.100000
25%,62.975000,71.725000,57.425000,65.875000,79.275000,83.175000
50%,68.700000,76.600000,63.300000,71.900000,81.850000,86.250000
75%,77.225000,85.850000,74.275000,80.875000,84.925000,89.650000
max,90.900000,94.000000,90.000000,93.000000,96.100000,97.600000

In [4]:
# Creating a correlation matrix using the corr function of the dataframe.
# Using seaborn's heatmap function to plot a heatmap of the correlatin matrix.

corr_mat = com.corr()
plt.figure(figsize=(10,8))
sns.heatmap(corr_mat, annot=True, cmap='prism')

NameError: name 'plt' is not defined