<a href="https://colab.research.google.com/github/Sshashank0743/Hello-world/blob/master/PythonBasicsQuestions_1536650294362_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python basics

### 1.Write a Python program to print the following string

Sample String: "Welcome to INSAID- International School of AI and Data Science"

In [0]:
print("Welcome to INSAID- International School of AI and Data Science")

Welcome to INSAID- International School of AI and Data Science

In [0]:
print("Welcome to my sweet loving dream project")

Welcome to my sweet loving dream project

### 1.1 In a “Hello, World!” program, a comment may look like this:

In [0]:
print("Hello, World!")      # Print “Hello, World!” to console

Hello, World!

In [0]:
print("Hello, world!")

Hello, world!

In [0]:
# Define sharks variable as a list of strings ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
list_sample = ('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
print(list_sample)
print(list_sample[:3])
print(list_sample[1:3])

# For loop that iterates over sharks list and prints each string item
for sample in list_sample:
    print(sample)

('hammer', 'white', 'fish', 'frilled', 'bullhead', 'requiem')
('hammer', 'white', 'fish')
('white', 'fish')
hammer
white
fish
frilled
bullhead
requiem

In [0]:
list_details = ('morning', 'routine', 'office', 'home', 'practice', 'sleep')


for sample in list_details:
    print(sample)

morning
routine
office
home
practice
sleep

2.Write a Python Program to Add Two Numbers

In [0]:
# initialise two varaibles
a = 5
b = 6
# subtract two numbers
subtract = b-a 

# Display the subtract
print("the subtract of b and a is {}" .format(subtract))

the subtract of b and a is 1

In [0]:
mysum = 2*8+9/3-5+6*9
mysum

68.0

In [0]:
# initialise two varaibles
a = 5
b = 6
# sum two numbers
sum = b+a 

# Display the sum
print("the sum of b and a is {}" .format(sum))

the sum of b and a is 11

### 3.Write a Python Program to Find the product of two numbers

In [0]:
# initialise two varaibles
a = 5
b = 6
# multiply two numbers
c = a*b
# Display the sum
print("product of a and b is {}" .format(c))

product of a and b is 30

### 4.Write a python program to find the area of triangle given height and base of the triangle as 3 and 10.

In [0]:
# Area of the triangle A= 1/2(base * height)

#given height=3 and base =10
h = 3;
b = 10;

area_of_triangle = 1/2 * (h*b);

print("the product of a and b is {}" .format(area_of_triangle))

the product of a and b is 15.0

## 5.Python Program to Swap Two Variables

In [0]:
# initialise two varaibles
a = 5
b = 8

# create a temporary variable and swap the values
temp = a
a = b
b = temp

print('the value of x after swapping: {}' .format(a))
print('the value of y after swapping: {}' .format(b))

the value of x after swapping: 8
the value of y after swapping: 5

## Section

### 1.Write a python program to print datatype of a varaible

In [0]:
a = 1
print(a, "is of type", type(a))
b = 2.0
print(a, "is of type", type(a))

c = 1+2j
print(a, "is complex number", isinstance(1+2j, complex))

1 is of type <class 'int'>
1 is of type <class 'int'>
1 is complex number True

### 2.Write a python program to extract an item or a range of items from a list.

In [0]:
a = [15,20,35,40,45,30,35,60]

print(a[2]) # Print the item at index 2

print(a[0:3]) # Print the first 3 items

print(a[-3:]) # Print the last 3 items

print(a[0:-2]) # Start to third last item

35
[15, 20, 35]
[30, 35, 60]
[15, 20, 35, 40, 45, 30]

In [0]:
a = [15,20,35,40,45,30,35,60]

print(len(a))

print(a[1:5:3])

8
[20, 45]

### 3.Converting Floats to Integers

In [0]:
b = 125.0
c = 390.8

print(int(b)) # Print the Integer values
print(int(c))

125
390

### 4.Converting Numbers to Strings

In [0]:
a = 10

print(a, "is of type", type(a))

b = str(a)
print(b, "is of type", type(b))

# Convert the value in a to a string and then print

10 is of type <class 'int'>
10 is of type <class 'str'>

### 5.Converting Strings to Numbers

In [0]:
a = "50"
b = "108"

lines_more = int(a) - int(b)

print(lines_more)

# Find the difference between a and b

-58

### 6.Converting list to Tuples

In [0]:
myList = ['request', 'source', 'repository', 'branch']

print(tuple(['request', 'source', 'repository', 'branch']))

# Print myList to a Tuple

('request', 'source', 'repository', 'branch')

### 7.Converting tuple to Lists

In [0]:
myTuple = ('blue', 'red', 'white')

print(list(('blue', 'red', 'white')))

# Print myTuple to a List

['blue', 'red', 'white']

### 8.converting strings to lists:

In [0]:
myString = 'INSAID'

print(list('INSAID'))

# Convert myString to List

['I', 'N', 'S', 'A', 'I', 'D']

### 9.Assign different data types to a varibles

In [0]:
my_string = 'Helol World'
my_flt = 45.6
my_bool = 5 > 9 #A boolean value will return either true or false
my_list = ['item_1, item_2, item_3']
my_tuple = ('item_1, item_2, item_3')
my_dict = {'letter': 'g', 'number': '0', 'symbols': '&'} # Try string, float, boolean, list, tuple, dictionary

## Section

### Print out a string that uses a formatter

In [0]:
print("John has {} cars" .format(5)) # Print "john has 5 cars." using formatter

John has 5 cars

### We can also assign a variable to be equal to the value of a string that has formatter placeholders:

In [0]:
open_string = "john likes {}."

print(open_string.format("open source")) # Use format method to print the following output "john likes open source."

john likes open source.

### Using Formatters with Multiple Placeholders

In [0]:
new_open_string = "john likes {} {}."                      #2 {} placeholders
print(new_open_string.format("open-source", "software"))
# Pass 2 strings into format method, separated by a comma to get output "john likes open-source software."

john likes open-source software.

In [0]:
sammy_string = "john loves {} {}, and has {} {}."  
print(sammy_string.format("open-source", "software", "5","balloons"))
#4 {} placeholders
# Pass 4 strings into method to get output "john loves open-source software, and has 5 balloons."

john loves open-source software, and has 5 balloons.

### Reordering Formatters with Positional and Keyword Arguments

In [0]:
# Reference sample
print("john the {} has a pet {}!".format("shark", "pilot fish"))

john the shark has a pet pilot fish!

### We can pass these index numbers into the curly braces that serve as the placeholders in the original string:

In [0]:
# Reference Sample
print("john the {0} has a pet {1}!".format("shark", "pilot fish"))

print("john is a {}, {}, and {} {}!".format("happy", "smiling", "blue", "shark"))

john the pilot fish has a pet shark!
john is a happy, smiling, and blue shark!

In [0]:
print("john the {1} has a pet {0}!".format("shark", "pilot fish"))

john the pilot fish has a pet shark!

### Python Program to Get String Input from User

In [0]:
#Enter any string and print it
inputstring = ("enter any string: hello")
print(inputstring)

enter any string: hello

### Python program for conditional statements

### 1)If the student receives over 65% on her test, report that her grade passes; if not, report that her grade fails

In [0]:
grade = 70

if grade >=65:
   print("passing grade")

passing grade

In [0]:
# Use only if
grade = 60

if grade >=65:
   print("Passing grade")

else:
   print("Falling grade")

Falling grade

### Write a python program calculate whether a bank account balance is below 0 and print appropriate message.

In [0]:
# Use if else
balance = 522

if balance < 0:
    print("Balance is below 0, add funds now or you will be charged a penalty.")

else:
    print("Your balance is 0 or above.")

Your balance is 0 or above.

In [0]:
balance = 990

if balance < 1000:
    print("Balance is below 1000, add funds now or you will not receive interest.")

else:
    print("Your balance is 1000 or above. you will receive interest")

Balance is below 1000, add funds now or you will not receive interest.

### Using Else if statement

In [0]:
balance = 25

if balance < 0:
    print("Balance is below 0, add funds now or you will be charged a penalty.")

elif balance == 0:
    print("Balance is equal to 0, add funds soon.")

else:
    print("Your balance is 0 or above.")

Your balance is 0 or above.

### Python program to print  Fibonacci series between 0 to 50.

In [0]:
nterms = 50

a = 0
b = 1

count = 0

if nterms <= 0:
   print("enter a positive integer")    
elif nterms == 1:
   print("fibonacci sequence upto",nterms,":")
   print(n1)
else:
   print("fibonacci sequence upto",nterms,":")
   while count < nterms:
       print(a,end=' , ')
       nth = a + b
       #update values
       a = b
       b = nth
       count=count+1

fibonacci sequence upto 50 :
0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 , 55 , 89 , 144 , 233 , 377 , 610 , 987 , 1597 , 2584 , 4181 , 6765 , 10946 , 17711 , 28657 , 46368 , 75025 , 121393 , 196418 , 317811 , 514229 , 832040 , 1346269 , 2178309 , 3524578 , 5702887 , 9227465 , 14930352 , 24157817 , 39088169 , 63245986 , 102334155 , 165580141 , 267914296 , 433494437 , 701408733 , 1134903170 , 1836311903 , 2971215073 , 4807526976 , 7778742049 ,

### Python program to find numbers which are divisible by 7 and multiple of 5 between a range 150 to 270

In [0]:
for number in range(150,270):
    if number %7 == 0 and number %5 == 0:
        print(number)

175
210
245

In [0]:
for number in range(70,210):
    if number %2.5 == 0 and number %1.5 == 0:
        print(number)

75
90
105
120
135
150
165
180
195

### Python program to Sum all the items in a list

In [0]:
def sum_list(items):
    sum_numbers = 0 # Your code here
    for x in items:
        sum_numbers +=x
    return sum_numbers # Your variable
print(sum_list([20,12,20,22]))

74

### Python program to Remove duplicates from a list.

In [0]:
a = [10,20,30,40,50,60,70,40,20,80,50,40]
 
final_list = set()
dup_list =  []
for num in a: 
    if num not in final_list: 
        final_list.add(num) 
        dup_list.append(num)
        
print(final_list)

{70, 40, 10, 80, 50, 20, 60, 30}

### Python program to Get the largest number from a list.

In [0]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1,12,28,0]))

28

### Concatenation of Tuples.

In [0]:
# Code for concatenating 2 tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
 
# Concatenating above two
print(tuple1 + tuple2)

(0, 1, 2, 3, 'python', 'code')

### Nesting of Tuples.

In [0]:
# Code for creating nested tuples
 
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'code')
tuple3 = (tuple1 + tuple2) # Your code goes here
print(tuple3)

(0, 1, 2, 3, 'python', 'code')

### Write a Python program to add an item in a tuple.

In [0]:
tuplex = (1,2,3,4,5,6) # Create a tuple & print
print(tuplex)

#tuples are immutable, so you can not add new elements
#using merge of tuples with the + operator you can add an element and it will create a new tuple

# Adding items in a specific index
tuplex = tuplex[:6] + (10,15,20)
print(tuplex)

(1, 2, 3, 4, 5, 6)
(1, 2, 3, 4, 5, 6, 10, 15, 20)

### Write a Python program to remove an item from a tuple.

In [0]:
# Create a tuple and print it
tuplex = 'I', 'N','D','I','A'
listx = list(tuplex)
# Find a way to remove an item of the tuple (Hint: Use other data types)
listx.remove('I')
tuplex = tuple(listx)
print(tuplex)

('N', 'D', 'I', 'A')

### Python Program to Check if a given key already exists in a dictionary.

In [0]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
def is_key_present(x):
  if x in d:
    print('key is present in dictionary')
  else:
    print('key is not present in dictionary')
is_key_present(5)
is_key_present(9)

key is present in dictionary
key is not present in dictionary

### Write a Python script to merge two Python dictionaries.

In [0]:
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}
d = d1.copy()
d.update(d2)
print(d)

{'a': 100, 'b': 200, 'x': 300, 'y': 200}

### Write a Python function to find the Max of three numbers.

In [0]:
def max_of_two( x, y ):
    x = 10:
    y = 15:
    # Your code here
    return # Your answer
def max_of_three( x, y, z ):
    # Your code here use max_of_two
    return # Your answer
print(max_of_three(13, 26, -5))

In [0]:
def max_of_two( x, y ):
    if x > y:
        return x
    return y
def max_of_three( x, y, z ):
    return max_of_two( x, max_of_two( y, z ) )
print(max_of_three(13, 26, -5))

### Write a Python program to reverse a string.

In [0]:
def string_reverse(str1):
    
    rstr1 = ''
    index = len(str1)
    while index > 0:
        rstr1 += str1 [ index - 1]
        index = index - 1
    return rstr1
print(string_reverse('EDU'))

UDE

### Write a Python function to calculate the factorial of a number

In [0]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
n=int(input("Input a number to compute the factiorial : "))
print(factorial(n))

Input a number to compute the factiorial : 6
720

### Write a Python function to sum all the numbers in a list.

In [0]:
def sum(numbers):
    total = 2
    for x in numbers:
        total += x
    return total # Your answer 
print(sum((1,5,7,8,6)))

29

### Write a Python function to check whether a number is in a given range.

In [0]:
def test_range(n):
    if n in range(3,9):        # 3<=5 and 9>=5
        print( " %s is in the range" % n)
    else :
        print("The number is outside the given range.")
test_range(8)

 8 is in the range

### Find the value of pi using math module.

In [0]:
# import statement example
# to import standard module math

import math
print("the value of pi is", math.pi)

the value of pi is 3.141592653589793

### Write a Python program to read an entire text file.

### Content of text.txt.

### What is Python language?      

#### Python is a widely used high-level, general-purpose, interpreted, dynamic programming language.

In [0]:
def file_read(fname):
     txt = open(fname)
        print(txt.read())
file_read('test.txt')

IndentationError: unexpected indent (<ipython-input-34-f3ada50c23bb>, line 3)

### Write a Python program to read a file line by line and store it into a list.

In [0]:
def file_read(fname):
       with open(fname) as f:
                #Content_list is the list that contains the read lines.     
                content_list = f.readlines()
                print(content_list)

file_read('test.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'test.txt'

### A python program to create user-defined exception.

In [0]:
class MyError(Exception):
 
    # Constructor or Initializer
    def __init__(self, value):
        self.value = value
 
    # __str__ is to print() the value
    def __str__(self):
        return # Your code goes here to get -> 'A New Exception occured: 0.42857142857142855'
 
try:
    raise(MyError(3/7))
 
except MyError as error:
    print(error)

A New Exception occured: 0.42857142857142855

### Write a Python program to calculate the discriminant value. (b <sup>2</sup> - 4ac)

In [0]:
def discriminant():
    a_value = float(input('The a value: '))
    b_value = float(input('The b value: '))
    c_value = float(input('The c value: '))
    
    # Calculate the discriminant here
    
    return # The value


discriminant()

The a value: 11
The b value: 111
The c value: 111

In [0]:
print('Hello World')

Hello World

In [0]:
print('What am I typing are you able to see?')